models/llama-2-7b-chat.Q5_K_M.gguf
models/llama-2-13b-chat.Q5_K_M.gguf
models/llama-2-13b-chat.Q5_K_S.gguf
models/mistral-7b-openorca.Q6_K.gguf
models/mistral-7b-v0.1.Q6_K.gguf
models/wizardlm-13b-v1.1.Q5_K_M.gguf
raw_data/test.db
openbook/








